textarea {
    display: block;
    width: 90%;
    height: 200px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
  }
  
  button {
    font: bold 20px/20px 'Times New Roman';
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
  }